-r requirements.txt
# action to create report PR
pytablewriter

# python lint/format/types
black~=20.8b1
flake8~=3.8.4
pytype==2019.7.11
pre-commit

# python test
pytest-cov~=2.10.1
coveralls~=3.0.1
pytest~=5.4.3
pytest-sanic~=1.6.2
pytest-asyncio~=0.14.0
